body {
  background: #55ccff;
  font-family: Arial, sans-serif;
  color: #222222;
}

h1 {
  font-family: Georgia, serif;
}

ul {
  text-align: center;
  list-style: none;
}

li::first-letter {
  font-size: x-large;
  font-weight: 500;
}
