* {
  margin: 0px;
  padding: 0px;
}

body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.calendar-wrapper {
  max-width: 300px;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.first-day {
  grid-column-start: 3;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
  padding: 2px;
}
