body {
  background: #364371;
  font-family: Arial, sans-serif;
  color: #000;
  box-sizing: border-box;
  text-align: center;
  margin: 0;
}

#wrap {
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
}

#nav,
#content {
  margin-bottom: -400px;
  padding-bottom: 400px;
}

#nav {
  width: 18%;
  float: left;
  background: #b0cfff;
}

#nav ul {
  text-align: justify;
}

#content {
  width: 82%;
  float: right;
  background: #5b7fbd;
  padding-left: 3%;
  padding-right: 3%;
  box-sizing: border-box;
}

#content ul {
  list-style: none;
}

p.copyright {
  position: absolute;
}

p.copyright a {
  color: #3643c5;
}
