@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Roboto:ital,wght@1,900&display=swap");

body {
  background: #e2ac7f;
  font-family: Arial, sans-serif;
  color: #000;
  box-sizing: border-box;
}

#wrap {
  background: #fff;
  border: 5px dashed #000;
  width: 70%;
  margin: 5px auto;
}

h1 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-style: italic;
  border-bottom: 5px dashed #000;
  margin: 0px;
  font-size: 2.7em;
}

p {
  padding: 0px 15px;
  font-size: 0.86em;
  text-align: justify;
}

ul {
  text-align: center;
  list-style: none;
}

li {
  font-size: 1em;
  font-style: italic;
}

li::first-letter {
  font-size: x-large;
  font-weight: 500;
}

.copyright {
  text-align: center;
}
