body {
  background: #54704a;
  font-family: Arial, sans-serif;
  color: #222222;
  margin: 0px;
  padding: 0px;
}

#wrap {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

#wrap > div {
  box-sizing: border-box;
}

#header {
  background: #b5b67d;
  overflow: hidden;
  padding: 1.5% 3% 3%;
}

#header h1 {
  text-align: end;
  margin: 0px;
}

#nav {
  background: #689d59;
  padding: 1% 3%;
  border-bottom: 4px dashed #fff;
}

#nav ul {
  padding: 0px;
  margin: 0px;
}

#nav ul li {
  display: inline-block;
  margin-right: 3%;
}

#sidebar {
  float: right;
  width: 16%;
  background: #b5b67d;
  padding-bottom: 500px;
  margin-bottom: -500px;
}

#sidebar h2 {
  margin: 0;
  font-size: 1em;
  font-weight: normal;
  padding: 8% 10%;
}

#sidebar ul {
  margin: 0;
}

#content {
  float: left;
  width: 84%;
  background: #738f69;
  padding: 0px 3% 500px;
  margin-bottom: -500px;
}

#content ul {
  text-align: center;
  font-size: x-large;
  list-style: none;
}

#content p {
  text-align: justify;
}

#footer {
  clear: both;
  padding: 1% 3%;
  background: #689d59;
  position: relative;
  font-style: italic;
  font-size: small;
}

.copyright {
  margin: 0px;
  padding: 0px;
}
